body {
    background-image: url("pictures for website/space.png");
    background-color: floralwhite;
    font-family: garamond;
    color: white;
}
.header {
    padding: 2em;
    background: darkslateblue;
    border: white;
    border-style: solid;
}
a:visited {
    color: white;
}
a:hover {
    color: mediumvioletred;
}
section.edu {
    background: darkmagenta;
    width: 80%;
    border: white;
    border-style: solid;
    margin: auto;
    padding: 1em;
}
section.work {
    background: rebeccapurple;
    width: 80%;
    border: white;
    border-style: solid;
    margin: auto;
    padding: 1em;
}
section.life {
    background: darkmagenta;
    width: 80%;
    border: white;
    border-style: solid;
    margin: auto;
    padding: 1em;
}
section.skills {
    background: mediumslateblue;
    width: 80%;
    border: white;
    border-style: solid;
    margin: auto;
    padding: 1em;
}
section.digital-paint {
    background: darkmagenta;
    width: 80%;
    border: white;
    border-style: solid;
    margin: auto;
    padding: 1em;
}
section.digital-draw {
    Background: rebeccapurple;
    width: 80%;
    border: white;
    border-style: solid;
    margin: auto;
    padding: 1em;
}
section.DIGIT {
    background: mediumslateblue;
    width: 80%;
    border: white;
    border-style: solid;
    margin: auto;
    padding: 1em;
}
img.me {
    width: 40%;
    position: relative;
    border-style: solid;
    border-color: white;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

figcaption.me {
    width: 40%;
    position: relative;
    border-style: dotted;
    word-wrap: normal;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
img.lady {
    width: 40%;
    position: relative;
    border-style: solid;
    border-color: white;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
figcaption.lady {
    width: 40%;
    position: relative;
    border-style: dotted;
    word-wrap: normal;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
img.color {
    width: 40%;
    border-style: solid;
    border-color: white;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
figcaption.color {
    width: 40%;
    position: relative;
    border-style: dotted;
    word-wrap: normal;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
img.body {
    width: 40%;
    position: relative;
    border-style: solid;
    border-color: white;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
figcaption.body {
    width: 40%;
    position: relative;
    border-style: dotted;
    word-wrap: normal;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
img.gleeby {
    width: 15%;
    position: fixed;
    bottom: 0%;
    right: 0%;
}
