body {
    background: papayawhip;
    font-family: fantasy;
}
section.edu {
    background: azure;
    width: 80%;
    margin: auto;
    padding: 1em;
}
section.work {
    background: LavenderBlush;
    width: 80%;
    margin: auto;
    padding: 1em;
}
section.life {
    background: honeydew;
    width: 80%;
    margin: auto;
    padding: 1em;
}
section.skills {
    background: Lavender;
    width: 80%;
    margin: auto;
    padding: 1em;
}
section.digital-art {
    background: floralwhite;
    width: 80%;
    margin: auto;
    padding: 1em;
}
img.me {
    width: 30%;
    position: relative;
    border-style: solid;
    border-color: navy;
}
figcaption.me {
    width: 30%;
    position: relative;
    border-style: dotted;
    word-wrap: normal;
}
img.lady {
    width: 30%;
    position: relative;  
    left: 450px;
    top: -607px;
    border-style: solid;
    border-color: black;
}
figcaption.lady {
    width: 30%;
    position: relative;
    left: 455px;
    top: -607px;
    border-style: dotted;
    word-wrap: normal;
}
img.color {
    width: 30%;
    position: relative;
    left: 910px;
    top: -1162px;
    border-style: solid;
    border-color: red;
}
figcaption.color {
    width: 30%;
    position: relative;
    left: 910px;
    top: -1162px;
    border-style: dotted;
    word-wrap: normal;
}
img.body {
    width: 30%;
    position: relative;
    left: 450px;
    top: -1200px;
    border-style: solid;
    border-color: gray;
}
figcaption.body {
    width: 30%;
    position: relative;
    left: 450px;
    top: -1200px;
    border-style: dotted;
    word-wrap: normal;
}