body {
    background-image: url("pictures for website/space.png");
    background-color: floralwhite;
    font-family: garamond;
    color: white;
}
.header {
    padding: 2em;
    background: darkslateblue;
    border: white;
    border-style: solid;
}
a:visited {
    color: white;
}
a:hover {
    color: mediumvioletred;
}
a:link {
    color: mediumpurple;
}
section.edu {
    background: darkmagenta;
    width: 80%;
    border: white;
    border-style: solid;
    margin: auto;
    padding: 1em;
}
section.work {
    background: rebeccapurple;
    width: 80%;
    border: white;
    border-style: solid;
    margin: auto;
    padding: 1em;
}
section.life {
    background: darkmagenta;
    width: 80%;
    border: white;
    border-style: solid;
    margin: auto;
    padding: 1em;
}
section.skills {
    background: mediumslateblue;
    width: 80%;
    border: white;
    border-style: solid;
    margin: auto;
    padding: 1em;
}
section.digital-paint {
    background: darkmagenta;
    width: 80%;
    border: white;
    border-style: solid;
    margin: auto;
    padding: 1em;
}
section.digital-draw {
    Background: rebeccapurple;
    width: 80%;
    border: white;
    border-style: solid;
    margin: auto;
    padding: 1em;
}
section.DIGIT {
    background: darkmagenta;
    width: 80%;
    border: white;
    border-style: solid;
    margin: auto;
    padding: 1em;
}
section.tech-skills {
    background: darkmagenta;
    width: 80%;
    border: white;
    border-style: solid;
    margin: auto;
    padding: 1em;
}
section.extra {
    background: rebeccapurple;
    width: 80%;
    border: white;
    border-style: solid;
    margin: auto;
    padding: 1em;
}
section.info {
    background: rebeccapurple;
    width: 80%;
    border: white;
    border-style: solid;
    margin: auto;
    padding: 1em;
}
section.rl-paint {
    background: mediumslateblue;
    width: 80%;
    border: white;
    border-style: solid;
    margin: auto;
    padding: 1em;
}
img {
    width: 40%;
    position: relative;
    border-style: solid;
    border-color: white;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
figcaption {
    width: 40%;
    position: relative;
    border-style: dotted;
    word-wrap: normal;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}
img.gleeby {
    width: 10%;
    position: fixed;
    bottom: 0%;
    right: 0%;
    border-style: none;
}
img.rl-me {
    width: 15%;
    position: relative;
    border: white;
    border-style: solid;
}
img.TTWLITF {
    width: 20%;
    position: relative;
    border: white;
    border-style: solid;
}
img.kumu {
    width: 30%;
    position: relative;
    border: white;
    border-style: solid;
}
.flex-container {
    display: flex;
    justify-content: space-evenly;
}
iframe.prj {
    width: 40%;
    position: relative;
    border-style: solid;
    border-color: white;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
